html,
body {
    margin: 0;
    padding: 0;
}

body {

}

h1,
h2,
h3,
h5,
p {
    margin:  0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear:both;
}

.container {
    width: 1040px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

#header {
    background: #fff;
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
}

.menu li {
    display: inline-block;
    padding-left: 60px;
}

.menu a {
    color: #c0c0c0;
    text-transform: uppercase;
    text-decoration: none;
    font: 300 14px/14px Lato, sans-serif;
}

.active a {
    color: #88d5c2;
}

.header-wrap {
    margin: 50px 0 50px 0;
}

#description {
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
}

.text-descr {
    padding: 50px 0;
}

.text-descr p {
    font: 300 33px/40px Lato, sans-serif;
}

#portfolio {
    border-bottom: 1px solid #e5e5e5;
}

.portfolio-upper {
    margin-bottom: 115px;
}

.portfolio-upper span {
    font: 900 20px/20px Lato, sans-serif;
    text-transform: uppercase;
    color: #88d5c2;
}

.name {
    margin-top: 46px;
}

.btn {
    margin-top: 40px;
    text-align: center;
    padding-top: 11px;
    background: #ebebeb;
    width: 135px;
    height: 23px;
    text-decoration: none;
    color: #616161;
    font: 900 12px/12px Lato, sans-serif;
}


.list {
    width: 257px;
    height: 200px;
    margin-bottom: 4px;
    background: #e1e1e1;
}

.list-1,
.list-2,
.list-3 {
    margin-right: 4px;
}

.list-5,
.list-6,
.list-7 {
    margin-left: 4px;
}

.list-9,
.list-10,
.list-11 {
    margin-right: 4px;
    margin-bottom: 46px;
}

#journal {
    background: #f9f9f9;
}

.journal-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.journal-title span {
    font: 900 20px/20px Lato, sans-serif;
    text-transform: uppercase;
    color: #88d5c2;
}

.list-punkt {
    width: 460px;
    height: 112px;
    margin-bottom: 50px;
}

.list-pic {
    background: url("../img/Journal.png") no-repeat;
    width: 153px;
    height: 112px;
    margin-right: 15px;
}

.list-container {
    width: 291px;
    height: 112px;
}

h2.title {
    font: 900 14px/14px Lato, sans-serif;
    color: #707070;
    margin-bottom: 21px;
}

.descr {
    font: 300 14px/20px Lato, sans-serif;
    margin-bottom: 14px;
}

.list-container a {
    color: #88d5c2;
    font: 700 16px/16px Lato, sans-serif;
    text-decoration: none;
}

footer {
    background: #444444;
}

.footer-column {
    width: 325px;
    margin-top: 50px;
}

.footer-column h2 {
    color: #88d5c2;
    text-transform: uppercase;
}

.footer-column p ,
.footer-column li {
    font: 300 14px/30px Lato, sans-serif;
    color: #f4f4f4;
    list-style: none;
}

.footer-column ul {
    margin-left: 0;
}

.footer-column-1 li::before {
    content: ' ';
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-right: 10px;
    background-image: url("../img/s-sprites.png");
    background-repeat: no-repeat;
}

.footer-first::before {
    background-position: 1px 0;
}

.footer-phone::before {
    background-position: -10px 0 ;
}

.footer-message::before {
    background-position: -23px 0 ;
}

.footer-column-1 .footer-column-2 p {
    margin-bottom: 36px;

}

.s-twitter {
    margin-bottom: 36px;
    background: url("../img/s-sprites.png") no-repeat ;
    background-position: -36px 0;
    padding-left: 20px;
}

#footer-down {
    background: #3d3d3d;
}

#footer-down p {
    font: 300 14px/30px Lato, sans-serif;
    color: #f4f4f4;
    padding: 33px 0 33px 0;
}



